.text-danger {
  color: #dc3545 !important;
}

.mat-cell[_ngcontent-xsl-c226] p[_ngcontent-xsl-c226] {
  margin: 0;
  width: 100%;
}

.mat-cell {
  flex-wrap: wrap;
}

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px !important;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
